{% extends "master.html" %}

{% block title %}
  My Table Tennis Club - List of all members
{% endblock %}

{% block content %}

 {% comment %} <p><a href="/">HOME</a></p> {% endcomment %}

<div class="mycard">
  <h1>Members</h1>
  
  <ul>
    {% for x in club_members %}
      <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}


{% comment %} <!DOCTYPE html>
<html>
<body>

<h1>Members</h1>

<ul>
    {% for x in club_members %}
        <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
    {% endfor %}
</ul>

</body>
</html> {% endcomment %}




